.main{
    margin-top: 50px;
}

.container{
    text-align: center;
}

a{
    color: dimgrey;
    font-size: 15px;
    font-family: "Verdana";
}

a:hover{
    color:#800000;
    text-shadow:  #e6e6e6 2px 12px;
    text-decoration: none;
}

.kandziukas-logo {
    background-image: url("logo2.jpg");
    width: 78px;
    height: 70px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
}

.main-img{
    background-image: url("img.jpg");
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-about{
    font-size: 15px;
    font-family: "Verdana";
    text-align: justify;
}


h5{
    color: dimgrey;
}

.main-about{
}

.kandziukas-name{
    color: maroon;
}

.features{
    font-family: "Verdana";
    font-size: 15px;


}

.renkates{
    text-decoration: underline gray;
    margin: 50px 0;
    font-size: 20px;

}
.originalus-image{
    background-image: url("ka.jpg");

}

.shipping-division{
    margin: 25px 0 25px 0;
}
.shipping {
    background-image: url('shipping.jpg');
    height: 50px;
    width: 50px;
    float: left;
    background-repeat: no-repeat;
}

.shipping-text{
    width: 150px;
    float: left;
}
.natural-division{
    margin: 25px 0 25px 0;
}
.natural{
    background-image: url('green.png');
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    float: left;
    background-repeat: no-repeat;
}

.natural-text{
    width: 150px;
    float: left;
}

.lithuanian-division{
    margin: 25px 0 25px 0;
}

.lithuanian{
    background-image: url("lietuviska.png");
    height: 50px;
    width: 50px;
    float: left;
    background-repeat: no-repeat;
}

.lithuanian-text{
    width: 150px;
    float: left;
}

.itworks-division{
    margin: 25px 0 25px 0;
}
.itworks{
    background-image: url("veikia.png");
    height: 50px;
    width: 50px;
    float: left;
    background-repeat: no-repeat;
}
.itworks-text{
    width: 150px;
    float: left;
}

.inexpensive-division{
    margin: 25px 0 25px 0;}
.inexpensive{
    background-image: url("taupo.png");
    height: 50px;
    width: 50px;
    float: left;
    background-repeat: no-repeat;
}

.inexpensive-text{
    width: 150px;
    float: left;
}

.quallity-division{
    margin: 25px 0 25px 0;
}

.quallity{
    background-image: url("kokybe.png");
    height: 50px;
    width: 50px;
    float: left;
    background-repeat: no-repeat;
}

.quallity-text{
    width: 150px;
    float: left;
}

.notesting-division{
    margin: 25px 0 25px 0;
}
.notesting{
    background-image: url("bigger.jpg");
    height: 50px;
    width: 50px;
    float: left;
    background-repeat: no-repeat;

}
.notesting-text{
    width: 150px;
    float: left;
}
.loved-division{
    margin: 25px 0 25px 0;
}

.loved{
    background-image: url("liked.png");
    height: 50px;
    width: 50px;
    float: left;
}
.loved-text{
    width: 150px;
    float: left;
}